* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

/* .item {
    width: 150px;
    height: 86px;
    background-color: forestgreen;
    border: 1px solid #000;
    transition: transform 1s;
}

.item_1:hover {
    transform:translateX(50px) scale(0.3) rotate(30deg);
}

.item_2:hover {
    transform: scale(2);
}

.item_3:hover {
    transform: rotate(60deg);
} */

.content {
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
}

.item {
    position: absolute;
    width: 150px;
    height: 63.5px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.item_2 {
    transform: rotate(45deg);
}

.item_3 {
    transform: rotate(90deg);
}

.item_4 {
    transform: rotate(135deg);
}
