@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
a,
button {
    color: #222222;
    font-family: Lato;
    font-style: normal;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    padding-top: 18px;
    position: relative;
}

.navigationLeft {
    display: flex;
    align-items: center;
    gap: 41px;
    padding-left: 32px;
}

.navigationRight {
    gap: 25px;
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.basket {
    position: relative;
}

.basket__Count {
    position: absolute;
    left: 75%;
    top: -20%;
}

.basket__Count h1 {
    position: absolute;
    left: 35%;
    top: 5%;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.main {
    background-color: #f1e4e6;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dropDown {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    width: 232px;
    padding: 32px 0 32px 33px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropDown h1 {
    font-size: 14px;
    font-weight: 400;
}

.hidden {
    display: none;
}

.dropDown ul {
    list-style-type: none;
}

.dropDown__Menu {
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
}

.dropDown__Close {
    cursor: pointer;
    fill:#6f6e6e;
}

.dropDown__Menu h1 {
    font-weight: 700;
}

.dropDown__Gender h1 {
    margin-top: 20px;
    margin-bottom: 12px;
    color: #f16d7f;
    display: inline-block;
}

.dropDown__Category {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-left: 21px;
}

.dropDown__Category h2 {
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}

.mainContent__rightSide {
    border-left: 12px solid #f16d7f;
    margin-left: 91px;
    margin-right: 101px;
    padding-left: 16px;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 377px;
}

.text-red {
    color: #f16d7f;
}

.mainContent__rightSide h1 {
    font-size: 48px;
}

.mainContent__rightSide h2 {
    font-size: 32px;
    font-weight: 700;
}

.cardList {
    margin-top: 65px;
    margin-bottom: 96px;
    gap: 30px;
    display: grid;
    grid-template-rows: 260px 180px;
    grid-template-columns: repeat(3, 1fr);
}

.cardList h2 {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.cardList h1 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
}

.cardOne {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("./img/section_1_1.png");
    padding: 39px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cardTwo {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("./img/section_1_2.png");
    padding: 39px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cardThree {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("./img/section_1_3.png");
    padding: 39px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cardFourth {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("./img/section_1_4.png");
    padding: 33px 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-column: span 3;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sectionTwo h1 {
    font-size: 30px;
    font-weight: 400;
}

.sectionTwo h2 {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
}

.cardListTwo {
    margin-top: 48px;
    margin-bottom: 48px;
    gap: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cardListTwo h2 {
    font-size: 13px;
    font-weight: 700;
}

.cardListTwo h3 {
    font-size: 14px;
    font-weight: 300;
    color: #bdbdbd;
}

.cardListTwo h1 {
    font-size: 16px;
    font-weight: 700;
    color: #f16d7f;
}

.card__sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
}

.card__sectionTwo .cardListTwo_backgroundPicture {
    position: relative;
    z-index: -1;
}

.card__sectionTwo:hover {
    background: #3a3838db;
}

.cardListTwo__first {
    position: relative;
}

.cardListTwo__Button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
    background-color: transparent;
    display: none;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 16px 8px 13px;
    gap: 11px;
    border: 1px solid #fff;
}

.cardListTwo__Button img {
    max-width: 100%;
    height: auto;
}

.card__sectionTwo:hover .cardListTwo__Button {
    display: flex;
}

.cardListTwo_Block {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 16px;
    background-color: #f8f8f8;
}

.sectionThree {
    display: flex;
    justify-content: center;
}

.product_button {
    padding: 15px 39px;
    font-size: 16px;
    border: 1px solid #f26376;
    border-width: 1cap;
    color: #f26376;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 60px;
    transition: background 0.3s ease-in-out;
}

.product_button:hover {
    background-color: #f16d7f;
    color: #fff;
}

.sectionFour {
    background-color: #222224;
}

.sectionFour__elements {
    display: flex;
    justify-content: center;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;
}

.box__sectionFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
    max-width: 360px;
}

.box__sectionFour h1 {
    color: #fbfbfb;
    font-weight: 400;
    font-size: 20px;
    padding-top: 28px;
    padding-bottom: 16px;
    text-align: center;
}

.box__sectionFour h2 {
    color: #fbfbfb;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.sectionFive {
    background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("./img/section_5_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center bottom;
    display: flex;
    align-items: center;
}

.sectionFive__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 327px;
}

.sectionFive__leftCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 97px;
    padding-bottom: 130px;
}

.sectionFive__leftCard h1 {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    max-width: 360px;
}

.sectionFive__leftCard span {
    color: #222224;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.sectionFive__rightCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    min-width: 320px;
}

.sectionFive__rightCard h1 {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 170%;
}

.sectionFive__rightCard h2 {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
}

.sectionFive__subscribeText {
}

.sectionFive__subscribeBox {
    display: flex;
    flex-direction: row;
}

.sectionFive input {
    border-radius: 30px 0 0 30px;
    padding: 20px 64px 20px 22px;
    border: none;
    background-color: #e1e1e1;
}

.sectionFive input::placeholder {
    color: #616162;
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
}

.sectionFive_button {
    border: none;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 30px 30px 0;
    background-color: #f16d7f;
    padding: 20px;
    cursor: pointer;
}

.footer {
    background-color: #000000;
}

.footer__Container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.footer__leftCard {
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.footer__RightCard {
    gap: 7px;
    display: flex;
}

.footer_svgBox {
    background-color: white;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 24px 0;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.footer_svgBox:hover {
    background-color: #f16d7f;
}

.footer_svgBox:hover svg {
    fill: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 736px;
    }

    .mainContent__rightSide {
        margin-right: 33px;
        min-width: 283px;
    }

    .mainContent__rightSide h1 {
        font-size: 44px;
    }

    .mainContent__rightSide h2 {
        font-size: 24px;
    }

    .cardList {
        margin-bottom: 110px;
        gap: 20px;
        grid-template-rows: 230px 115px;
        grid-template-columns: repeat(3, 1fr);
    }

    .cardListTwo {
        margin-top: 72px;
        margin-bottom: 32px;
        gap: 16px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .sectionFour__elements {
        align-items: center;
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
        gap: 48px;
    }

    .sectionFive__container {
        flex-direction: column;
        gap: 48px;
    }

    .sectionFive__leftCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 64px;
        padding-bottom: 0;
    }

    .footer__Container {
        padding: 0px;
    }

    .sectionFive__rightCard {
        padding-bottom: 140px;
    }

    .footer__Container {
        padding: 0px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        box-sizing: border-box;
    }

    .hideCard {
        display: none;
    }

    .navigationLeft {
        padding-left: 8px;
    }

    .navigationRight {
        padding-right: 8px;
    }

    .mainContent {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 363px;
    }

    .mainContent__rightSide {
        margin-left: 0;
        margin-right: 0;
        min-width: 93px;
    }

    .mainContent__rightSide h1 {
        font-size: 38px;
        font-weight: 900;
    }

    .mainContent__rightSide h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .cardList {
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 32px;
        padding: 0px 8px;
        grid-template-rows: 230px 230px 230px 115px;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }

    .cardOne {
        padding: 0px;
        background-position: center;
        background-size: cover;
        grid-column: span 1;
    }
    .cardTwo {
        padding: 0px;
        background-position: center;
        background-size: cover;
        grid-column: span 1;
    }
    .cardThree {
        padding: 0px;
        background-position: center;
        background-size: cover;
    }
    .cardFourth {
        padding: 0px;
        background-position: center;
        background-size: cover;
        grid-column: span 1;
    }

    .cardListTwo {
        margin-top: 64px;
        margin-bottom: 40px;
        gap: 16px;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        padding: 0 4px;
    }

    .cardListTwo_backgroundPicture {
        width: 100%;
    }

    .cardListTwo_Button img {
        max-width: 100%;
        height: auto;
    }

    .product_button {
        margin-bottom: 100px;
    }

    .sectionFour__elements {
        align-items: center;
        flex-direction: column;
        padding: 48px 24px 81px 24px;
        gap: 48px;
    }

    .sectionFive {
        justify-content: center;
    }

    .sectionFive__container {
        flex-direction: column;
        gap: 48px;
    }

    .sectionFive__leftCard {
        gap: 30px;
        padding-top: 64px;
        padding-bottom: 0;
    }

    .sectionFive__rightCard {
        padding-bottom: 109px;
        align-items: center;
        display: flex;
    }

    .sectionFive input {
        border-radius: 30px 0 0 30px;
        padding: 20px 34px 20px 12px;
        border: none;
        background-color: #e1e1e1;
    }

    .footer__Container {
        flex-direction: column-reverse;
        padding-bottom: 9px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer_svgBox {
        margin: 43px 0 40px 0;
    }

    .footer__leftCard {
        font-size: 16px;
        font-weight: 400;
        padding-left: 0;
    }
}
