@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./font/Gilroy-Semibold.woff2');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;
}

img {
    display:block;
    max-width: 100%;
}

h1, h2, a, button {
    font-weight: 400;
}

.header {
    padding: 51px 0;
    margin-bottom: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 350px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.navigation {
    display:flex;
    justify-content: space-between;
    width: 533px;
    font-size: 17px;
    font-family: Gilroy-Medium;
    color: #000;
    line-height: 120%;
}

.navigationHome {
    font-size: 17px;
    font-family: Gilroy-SemiBold;
    color: #F25822;
    line-height: 120%;
}

.main {
    margin-top: 96px;
    margin-bottom: 197px;
    display:flex;
    align-content: flex-start;
}

.mainContent {
	display: flex;
	justify-content: space-between;
    gap: 40px;
}

.mainContent__leftSide h1 {
    font-size: 60px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    width: 522px;
}

.mainContent__leftSide h2 {
    font-family: Gilroy-Medium;
    font-size: 20px;
    color: #888;
    margin-bottom: 37px;
    width: 466px;
}

.mainContent__leftSide-btnList {
    display: flex;
	gap: 72px;
    align-items:baseline;
}

.mainContent_leftSide_btnStart {
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    color: #ffffff;
    font-size: 20px;
    border:none;
    cursor: pointer;
    font-family: Gilroy-Bold;
}

.mainContent_leftSide_btnWatch {
    color: #AAAAAA;
    border:none;
    background: #ffffff;
    font-family: Gilroy-Bold;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    margin-bottom: 96px;
}

.logos {
    display: flex;
    justify-content: space-between;
}